@import '../../scss/variables';
.root {
  margin-bottom: 72px;

  h1 {
    text-align: center;
    font-weight: 900;
    font-size: 30px;
    line-height: 120%;
    color: $gray-900;
    margin-bottom: 32px;
  }
}

.review {
  width: 726px;
  height: 318px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 16px;
  padding: 32px 43px;
  margin-right: 24px;
  background: $gray-50;

  h3 {
    width: 600px;
    font-weight: 700;
    font-size: 24px;
    line-height: 133%;
    color: $gray-900;
  }
  p {
    font-weight: 300;
    font-size: 24px;
    line-height: 133%;
    color: $gray-500;
  }
  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
