@import '../../scss/variables';

.root {
  padding-top: 40px;
  background: $gray-900;
}
.leftContent {
  div {
    display: flex;
    align-items: center;
    h2 {
      font-weight: 900;
      font-size: 24px;
      line-height: 133%;
      color: $gray-50;
      margin-left: 4px;
    }
  }
  p {
    font-weight: 400;
    font-size: 12px;
    line-height: 133%;
    color: $gray-50;
    margin-top: 8px;
  }
}

.nav {
  display: flex;
  justify-content: center;
  a {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: $gray-50;
    &:not(:last-child) {
      padding-right: 24px !important;
    }
    &:hover {
      color: $purple-500;
    }
  }
}

.rightContent {
  padding: 0 !important;
  display: flex;
  justify-content: flex-end;
  h3 {
    font-weight: 900;
    font-size: 36px;
    line-height: 111%;
    color: $gray-50;
  }
  p {
    font-weight: 400;
    font-size: 27px;
    line-height: 133%;
    color: $gray-50;
  }
}

.offert {
  display: flex;
  padding: 24px 0 40px 0;
  p {
    font-weight: 300;
    font-size: 12px;
    line-height: 133%;
    color: $gray-600;
  }
}

.creater {
  text-align: right;
  color: $gray-500;
}
